@model IEnumerable<Gestion_de_Recursos_Humanos.Models.salida>

@{
    ViewBag.Title = "VerSalidasMes";
}

<h2>Salida de Empleados mensuales</h2>

@using (Html.BeginForm("VerSalidasMes", "empleados", FormMethod.Get))
{
    <text> <strong> Buscar mes(En números):</strong> </text>
    @Html.TextBox("mes")
    <input type="submit" value="Buscar" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tiposalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechasalida)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.empleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tiposalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechasalida)
            </td>
        </tr>
    }

</table>
