@model Gestion_de_Recursos_Humanos.Models.departamentos

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Codigo de Departamento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigodepartamento)
        </dd>

        </br>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a Lista", "Index")
</p>
