@model IEnumerable<Gestion_de_Recursos_Humanos.Models.cargos>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center;margin-top:5%">Gestor de Cargos</h2>


<table class="table" style="margin-left:5%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cargo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cargo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<input type="submit" onclick="location.href='@Url.Action("Create", "cargos")'" value="Registrar Nuevo Cargo" class="btn btn-primary" style="float:right" />
